{% load static%}

<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row"> 
			<div class="navbar-nav mr-auto">
				<a href="{% url 'home' %}" class="brand-wrap">
					<img class="logo" src="{% static './images/logo.png' %}">
				</a> <!-- brand-wrap.// -->
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2"> At your Door Step</span>
				<span  class="px-2"> Kisan sae Kisan tak</span>
			</div>
			<div class="col-md-2 text-md-right">
				<a href="#"> <i class="fa fa-envelope"></i> Email </a>
                <a href="#"> <i class="fa fa-phone"></i> Call us </a>
			</div>
		</section>
	</div><!-- //container -->
</footer>